.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.card-profil {
    padding: 35px;
}

span.location {
    position: absolute;
    top: 80px;
    margin-left: 310px;
    display: inline-block;
}

.tugas-label {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
}

.garis-bawah-profile {
    display: none;
}

.jumlah-tugas {
    font-weight: bold;
    font-size: 2em;
}
.tombol-simpan-edit,
.tombol-batal-edit {
    display: none;
}

@media (max-width: 991.98px) {
    span.location {
        position: relative;
        top: 5px;
        margin-left: 0;
        display: block;
    }
    .name {
        margin-bottom: 0;
    }
    .email {
        margin-top: 10px;
    }
    .tugas-label {
        font-weight: bold;
        margin-top: 0px;
    }
}

@media (max-width: 767.98px) {
    .information {
        margin-top: 10px;
        width: 100%;
    }
    .name-address {
        text-align: center;
    }
    .card-profil {
        padding: 0;
    }
    .gambar-profil {
        display: flex;
        justify-content: center;
    }
    .name {
        margin-bottom: 0;
    }
    span.location {
        position: relative;
        margin-left: 0;
        display: block;
    }
    .tugas-label {
        font-weight: bold;
        margin-top: 0px;
    }
    .garis-bawah-profile {
        display: block;
    }
}
